extends layout

block content
  h1= title
  form(action="/completetask", method="post")
    table(border="1", class="table table-striped")
      tr
        td Name
        td Category
        td Priority
        td Date Added
        td Complete
      each task in tasks
        tr
          td #{task.itemName}
          td #{task.itemCategory}
          td #{task.itemPriority}
          - var day   = task.itemDate.getDate();
          - var month = task.itemDate.getMonth() + 1;
          - var year  = task.itemDate.getFullYear();
          td #{month + "/" + day + "/" + year}
          td
            input(type="checkbox", name="#{task._id}", value="#{!task.itemCompleted}", checked=task.itemCompleted)
    input(type="submit", value="Update tasks")
  hr
  form(action="/addtask", method="post" name="item" class="navbar-form navbar-left")
    div.task(class="form-group input-group-lg")
      input(name="name", type="textbox", class="form-control", placeholder="Name")
      input(name="category", type="textbox", class="form-control",placeholder="Category")
      input(name="priority", type="textbox", class="form-control", placeholder="Priority")
    input(type="submit", class="btn btn-default", value="Add item")
  hr
